package {{.daoPackageName}}

import (
    "context"
    "time"

    "github.com/guregu/null"
    "github.com/satori/go.uuid"
)

var (
    _ = time.Second
    _ = null.Bool{}
    _ = uuid.UUID{}
)

// {{.StructName}} struct is a row record of the {{.TableName}} table in the {{.DatabaseName}} database
type {{.StructName}} struct {
    {{range .TableInfo.Fields}}{{.}}
    {{end}}
}

{{template "dao_gorm_getall.go.tmpl" .}}
{{template "dao_gorm_get.go.tmpl" .}}
{{template "dao_gorm_add.go.tmpl" .}}
{{template "dao_gorm_update.go.tmpl" .}}
{{template "dao_gorm_delete.go.tmpl" .}}

